#header {
  display: flex;
}

h3 {
  font-family: "Overpass", sans-serif;
  color: #e2a165;
  padding-left: 15px;
}

h4 {
    text-align: center;
}

#logo {
  width: 10%;
  margin-left: 15%;
}

#info1_dish {
    display: flex;
}

#ingredients {
  margin: 5% 5%;
}

#img-dish{
    width: 100%;
}

