.main { 
  display: flex;
}

h1 {
  font-family: "Overpass", sans-serif;
  color: #e2a165;
  text-align: center;
}

#btn-search {
  background-color: #d9d9d9;
}

#btn-random {
  background-color: #ffbf59;
}
