body{
    font-family: Poppins;
    background-color: #fffbf7
}

input {
    padding: 10px;
    border-radius: 8px;
}

.fixed-header {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    padding: 30px;
    background-image: url(/Intersect.svg);
    background-repeat: no-repeat;

}

.searchBar {
    margin-left: 400px;
}

.form-search {
    background: url(/search.svg) right  no-repeat;
}

.hero img{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.heroText{
    text-align: center;
}

h1 {
    font-weight: 400;
    font-size: 32px;
    margin: 70px;
}

h2{
    font-weight: 700;
    font-size: 17px;
}

p {
    font-size: 16px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    line-height: 45px;
    padding: 1.5em;

}

form input{
    font-family: Poppins;
    margin: 10px;
} 

button{
    align-items: center;
    padding: 10px 15px;
    width: 142px;
    height: 56px;
    left: 568px;
    top: 778px;
    border-radius: 4px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: 8px;
    margin: 5px;
}

.primaryButton{
    background-color: #FF1D5D;
}

.secondaryButton{
    background-color: rgba(253,199,201,.4);
    color:#FF1D5D;
}

.recetas {
    display: flex;
    justify-content: center;
}

.recetaCard {
    background-color: white;
    text-align: center;
    margin: 10px;
    outline-style: solid;
    outline-color:  #FF1D5D;
    outline-width: 1px;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    overflow: hidden;
}

.recetaTexto {
    text-align: center;
}
